@media (max-width:768px) {
    .logo {
        width: 80px;
    }
    .hamburguer {
        margin-left: 350px;
    }
    .apostas {
        display: none;
    }
    .text-comp {
        display: none;
    }
    .menu-comp {
        display: none;
    }
}
@media (min-width:700px) {
    .carrossel {
        margin-left: 12px;
    }
    .intro {
        background-color: rgba(0, 0, 0, 0);
        height: 10px;
    }
}
body{
    background-color: rgb(175, 175, 175);
}
.menu {
    background: linear-gradient(91.92deg, #F26905 62.23%, #000000 105.57%);
}
.btn-login li {
    list-style: none;
}
.logos-menu {
    margin-left: 10px;
    background-color: white;
}
.texto-menu {
    margin-left: 10px;
    margin-top: 8px;
}
.opcoes-menu {
    margin-left: 10px;
}
.text-intro {
    height: 25px;
    margin-top: 5px;
}
.menu-esquerda {
    margin-left: 0;
}



